<?xml version="1.0"?>
<model>
  <name>plane_with_ardupilot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Custom</name><email></email></author>
  <description>
    Cessna C-172 base + ArduPilot port 9012
    Down camera : /plane/camera/down/image_raw
    Front camera: /plane/camera/front/image_raw
  </description>
</model>
